<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) Microsoft Corporation.  All rights reserved.
Licensed under the MIT License
-->
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="10.0.1816" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="3.3.617" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="1.4.617" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="3.3.617" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.3.617" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="3.3.617" targetFramework="net461" />
  <package id="Microsoft.VisualStudioEng.MicroBuild.Core" version="0.4.1" targetFramework="net461" developmentDependency="true" />
  <package id="Moq" version="4.10.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
</packages>