<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (c) Microsoft Corporation.  All rights reserved.
Licensed under the MIT License
-->
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="InputConfig">
    <Parameter Name="KeyVaultName" Value="" MustOverride="true"/>
    <Parameter Name="IotDeviceConnectionStringKeyVaultKeyName" Value="" MustOverride="true"/>
    <Parameter Name="EventhubConnectionStringKeyVaultKeyName" Value="" MustOverride="true"/>
    <Parameter Name="KafkaConnectionStringKeyVaultKeyName" Value="" MustOverride="true"/>
    <Parameter Name="KafkaBroker" Value="" MustOverride="true"/>
    <Parameter Name="KafkaTopics" Value="" MustOverride="true"/>
    <Parameter Name="DataSchemaStorageAccountName" Value="" MustOverride="true"/>
    <Parameter Name="DataSchemaStorageAccountKeyValueKeyVaultKeyName" Value="" MustOverride="true"/>
    <Parameter Name="DataSchemaStorageContainerName" Value="" MustOverride="true"/>
    <Parameter Name="DataSchemaPathWithinContainer" Value="" MustOverride="true"/>
  </Section>
</Settings>
