<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (c) Microsoft Corporation.  All rights reserved.
Licensed under the MIT License
-->
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="ServiceEnvironment">
    <Parameter Name="ServiceKeyvaultName" Value="" MustOverride="true" />
    <Parameter Name="cosmosDBConfigConnectionString" Value="" MustOverride="true" />
    <Parameter Name="cosmosDBConfigDatabaseName" Value="" MustOverride="true" />
    <Parameter Name="cosmosDBConfigCollectionName" Value="" MustOverride="true" />
    <Parameter Name="AppInsightsIntrumentationKey" Value="" MustOverride="true" />
    <Parameter Name="SparkType" Value="" MustOverride="true" />
    <Parameter Name="TestClientId" Value="" MustOverride="true" />
    <Parameter Name="EnableOneBox" Value="" MustOverride="true" />
  </Section>

</Settings>
