<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage"
      uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector,
 Microsoft.VisualStudio.TraceCollector, Culture=neutral">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\DataX.*.dll</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*tests.dll</ModulePath>
                <ModulePath>.*test.dll</ModulePath>
                <ModulePath>Newtonsoft.Json.dll</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>